/*---------------VARIABLES----------------*/

/*colors*/
$primaryColor: #d55839;
$primaryAccent: #9d270f;
$secondColor: #995d5d;
$secondColorAccent: #693234;
$textColor: #362525;
$linkColor: #310707;
$hoverColor: #dad4d4;
$borderColor: #789987;
$colorLight: #edf3ca;
$colorDark: #503a1d;

//body
$bckBody: #fffdee;
$colorBg: #2c2c25;
$lines-bg: #9e8679;
$backLight: #edf3ca;
$backMedium: #a7977e;
$backAccent: #122149;
$backDark: $secondColorAccent;

/*links*/
$linkHoverColor: #23aa44;

/*STRUCTUE*/
$max-width: 1344px;
$backHeader: rgba(92, 57, 16, 0.5);
$backHeaderMenu: darken($backHeader,20%);

/*header*/
$height-header: 450px;
$height-main: 280px;
$pos-header-main-top: 70px;
$pos-header-main-down: 200px;
$pos-bottom: 2rem;
$m-w: 40px;
$m-h: 40px;
$header-transition: 480ms;
$back-haeder-painel: rgba($secondColor, 0.5);

/*slider */
$color-text-light: #d78787;

$back-section: rgba(darken($primaryColor, 2%), 0.9); 