.il-portrait {
    transition:$header-transition;
    position: absolute;
    top: 0;
    left: -50%;
    width: 48%;
    height: 100vh;
    background: $back-haeder-painel;
    border-radius: 0 0 10% 0;
    &.il-portrait--show {
      transition: $header-transition;
      left: 0;
    }
    & .il-portrait--content {
      margin: 2rem;
      padding: 2rem;
      background: $secondColor;
      height: calc(100% - 2rem);
      border-radius: 0 0 10% 0;
      background: url('../images/banners/girl1.jpg') top center no-repeat/cover;
    }
  }
