*,
*:before,
*:after {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Abel|Yanone+Kaffeesatz');

body {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  font-family: 'Abel', sans-serif;;
  background: $bckBody;
  height: 100vh;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

blockquote {
  padding-left: 0.45rem;
  border-left: 2px solid $primaryColor;
  font-weight: 400;
  letter-spacing: 1.6px;
}

.il-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: $linkColor;
  font-size: 0.89rem;
  &.il-menu--link {
    text-transform: uppercase;
    font-size: 0.75rem;
    &:hover {
      color: grey;
    }
  }
  &.il-current {
    color: lighten($linkColor, 20%);
  }
}

img {
  display: block;
  width: 100%;
  max-width: 20%;
  &.img-responsive{
    max-width: 100%;
  }
  &.il-img--circle {
    border-radius: 50%;
  }
  &.il-img--avatar{
    max-width: 400px;
    margin: auto;
  }
}
